@import '../../assets/styles/variables';

.project {
    background-color: $lightgray;
    padding-top: 2em;
    padding-bottom: 2em;


    .tab-container {
        padding-right: 2em;
        padding-left: 2em;
    }
}