@import '../../assets/styles/variables';

.contractors {
    
    .contractors-container {
        width: 981px;
        background-color: white;
        margin-right: 3rem;
        padding-bottom: 2rem;
    }

    .contractors-form {
        justify-content: space-evenly;
        padding: 0 1.5rem;

        .contractor {
            padding: 0 1.5rem;
            margin-bottom: .5rem;
            width: 50%;
    
            @include media-breakpoint-down(lg) {
                width: 90%
            }
        }
    }
}