
.room-area-layout {

    .container {
        width: 981px;
        background-color: white;
        margin-right: 3rem;
        padding-bottom: 2rem;
    }

    .rooms {
        padding: 0 1.5rem;
    }

    .page-title {
        padding-bottom: .85rem;
    }
}