@import '../../assets/styles/variables';

.room-management {
    background-color: $lightgray;
    min-height: 100vh;

    .room-management-container {
        background-color: white;
        width: 100%;

        i {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
            cursor: pointer;
            &:hover {
                background-color: rgb(240, 236, 236);
            }
        }
        .accordion-button:not(.collapsed) {
            background-color: $activegray;
            color: $white;
            i:hover {
                color: $activegray !important;
            }
        }
        .accordion-button.collapsed { 
            &:hover {
                background-color: #494b5c23;
            }
        }
        .accordion-body {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .room-management-table {
        margin-left: 2rem;
        margin-right: 1rem;

        thead {
            border: hidden;
        }

        th {
            font-size: 12px;
            font-weight: 600;
            letter-spacing: -0.27px;
            line-height: 17px;
        }

        td {
            border: hidden;
            font-size: 12px;
            letter-spacing: -0.27px;
            line-height: 17px;
        }

        i {
            cursor: pointer;
        }
    }
    
    .search-bar {
        margin-left: 50%;

        .form-control {
            height: 28px;
            font-size: 12px;
        }
    }
    
}