@import '../../assets/styles/variables';

.product-detail {
    width: 100%;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    background-color: white;

    .link-btn {
        padding: 0rem;
        padding-top: .5rem;
        margin-left: 0;
        font-size: 14px;
    }

    .title {
        font-size: 14px;
        padding-left: .25rem;
    }

    .details-container {
        padding: 2.5rem 3rem;
        
        .details-image {
            width: 45%;

            img {
                height: 375px;
                width: 400px;
            }

        }
        
        .details {
            width: 55%;

            .details-title {
                font-size: 24px;
                font-weight: bold;
            }       
        }
    }
}