@import '../../assets/styles/variables';

.drawings {
    
    .drawings-container {
        width: 981px;
        background-color: white;
        margin-right: 3rem;
        padding-bottom: 2rem;
    }
    
    .drawings-form {
        min-height: 661px;
        justify-content: space-evenly;
        padding: 0 5rem;
    }

    .drawing {
        width: 50%;
        font-size: 12px;
        min-height: 28px;
        margin-bottom: 1rem;

        i {
            font-size: 15px;
            cursor: pointer;
        }

        .drawing-image {
            margin-right: 2rem;
        }

        .drawing-name { 
            margin-top: 1rem;
            width: 50%;
        }

        .icon {
            margin-top: 1rem;
            margin-left: .5rem;
            margin-right: .5rem;
        }
    }

    .edit-drawings-container {
        width: 100%;
        height: auto;
        min-height: 28px;
        border-radius: 2px;
        margin-top: .5rem;
        padding-right: .5rem;

        .file-input {
            width: 75%;

            .form-control {
                height: 28px;
            }
        }

        .icon-container {
            margin-top: .25rem;
        }
    }
}
