@import '../../assets/styles/variables';

.drawings {
    
    .drawings-container {
        width: 981px;
        background-color: white;
        margin-right: 3rem;
        padding-bottom: 2rem;
    }
    
    .drawings-form {
        min-height: 661px;
        justify-content: space-evenly;
        padding: 0 3rem;

        .col {
            padding: 0 3rem;
        }
    }

    .drawing {
        width: 50%;
        font-size: 12px;

        i {
            font-size: 15px;
        }
    }
}
