@import '../../assets/styles/variables';

.header {
    background-color: rgba(0,0,0,0.85);
    color: white;
    height: 46px;

    .item {
        color: white;

        img {
            height: 18px;
        }
    }
    
    .navbar-text {
        padding-right: 10px;
        padding-left: 10px;
    }

    .search-container {
        flex-flow: row;
    }
}