@import "../../assets/styles/variables";

.add-utility-modal {
  .row {
    padding: 0 2rem;
  }
}
.input-label {
  font-size: 13px !important;
}
.form_cheacker {
  gap: 18px !important;
  display: flex !important;
  align-items: center !important;
  margin-left: 0.2rem !important;
}
.form-check-label {
  font-size: 13px !important;
}
.conform-modal {
  padding: 0.5rem 0.5rem;
}
.crossbutton {
  position: absolute;
  right: 1rem;
  font-size: 15px;
  top: 0.5rem;
  cursor: pointer !important;
}
.room-type-container {
  @include media-breakpoint-up(lg) {
    width: 25%;
  }
  margin-bottom: 2rem;

  @include media-breakpoint-down(md) {
    padding: 0 1rem;
  }
}

.room-type {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: -0.27px;
  margin-bottom: 1rem;
}

.room-name {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.27px;
}

.room-area-layout-spinner {
  min-height: 100vh;
  margin-top: 25%;
}
