@import '../../assets/styles/variables';

.marketing-block {

    @include media-breakpoint-down(md) {
        width: 100%
    }
    .marketing-block-body {
        height: 383px;
        width: 343px;
        background-color: white;
        @include media-breakpoint-down(md) {
            width: 100%
        }
    }
}