@import '../../assets/styles/variables';

.marketing-block {

    .marketing-block-body {
        width: 343px;
        background-color: white;
    }
    .fade-in {
        transition: opacity 3s ease;
    }
    .fade-out {
        opacity: 0;
        //transition: opacity 2s ease;
    }
}