@import '../../assets/styles/variables';

.marketing-block {

    @include media-breakpoint-down(md) {
        width: 100%
    }
    .marketing-block-body {
        width: 343px;
        background-color: white;
        @include media-breakpoint-down(md) {
            width: 100%
        }
    }
    .fade-in {
        transition: opacity 3s ease;
    }
    .fade-out {
        opacity: 0;
        //transition: opacity 2s ease;
    }
    .fitcontent{
        width: 100%;
    }
}
@media screen and (min-device-width: 992px) and (max-device-width: 1200px){
    .marketing-block {
        width: 20%;
    }
    .marketing-block-body {
        width: 100% !important;
        background-color: white;
    }
    
}