@import '../../assets/styles/variables';

.project-information {
    .link-btn {
        font-size: 16px;
    }
    @include media-breakpoint-down(md) {
        flex-wrap: wrap;
        justify-content: center;
    }

    .information-form-container {
        width: 981px;
        background-color: white;
        
        @include media-breakpoint-up(lg) {
            margin-right: 3rem;
        }
        @include media-breakpoint-down(md) {
            width: 100%;
        }
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }

    .information-form {
        justify-content: space-evenly;
        padding: 0 1.5rem;

        .form-col {
            width: 45%;

            @include media-breakpoint-down(lg) {
                width: 100%;
            }

            padding: 0 1rem;
            @include media-breakpoint-down(md) {
                padding: 0;
            }
            a{
                word-break: break-all
            }
        }
    }
}


.new-subdivision-modal {

    .modal-container {
        .page-title {
            padding: 0;
        }

        form {
            padding: 1rem 1.5rem;
        }
    }
}