@import '../../assets/styles/variables';

.project-information {
    background-color: white;
    padding-bottom: 4.3em;

    #title {
        padding-top: 1em;
        padding-bottom: 1.3em;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.41px;
        line-height: 24px;
    }

}