@import '../../assets/styles/variables';

.project-header {
    height: 144px;
    box-sizing: border-box;
    background-color: $lightgray;
    border: 1px solid $bordergray;


    .project-image {
        box-sizing: border-box;
        border: 1px solid $bordergray;
    }

    .bold-text {
        font-size: 14px;
        font-weight: bold;
    }

    .project-name {
        font-size: 21px;
        font-weight: 600;
        letter-spacing: -0.95px;
        line-height: 28px;
    }

    .text {
        font-size: 14px;
        letter-spacing: -0.32px;
    }

    .save-icon {
        font-size: 14px;
        letter-spacing: -0.32px;
        padding-bottom: 1rem;
        color: $tabblue;
    }

    .share-icon {
        color: $tabblue;
        cursor: pointer;
    }

    .phone {
        a {
            color: $tabblue;
        }
    }

    .email {
        a {
            color: $tabblue;
        }
    }

    .link-btn {
        padding: 0;
        padding-bottom: 1rem;
        font-size: 14px;
    }

    .total {
        margin-top: 5em;
    }

    .left { 
        text-align: left;
    }

    .snapshot-btn {
        height: 23px;
        width: 150px;
        color: white;
        font-size: 14px;
        line-height: 19px;
        border-radius: 3px;
        letter-spacing: -0.17px;
        background-color: #888888;
    }
}