@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';

$black: #000000; 
$gray: #494B5C;
$lightgray: #E7E9ED;