@import 'variables';
@import '~bootstrap/scss/bootstrap';

@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
        padding-left: 0;
        padding-right: 0;
    }
}

@include media-breakpoint-down(lg) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

.input-gray {
    height: 28px;
    border-radius: 2px;
    background-color: $lightgray;
    border-color: $lightgray;
}

.input-label {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.27px;
    line-height: 14px;
    margin-bottom: -.2em;
}

.custom-file-input {
    background-color: $lightgray;
    color: $lightgray;
}

.primary-gray-btn {
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    letter-spacing: -0.15px;
    line-height: 17px;
    padding: .2rem 1rem;
    background-color: $btngray;
    border: none;
    color: white;
}

.search-container {
    height: 30px;
    border: none;
}

.next-btn {
    font-size: 14px;
    letter-spacing: -0.17px;
    line-height: 19px;
    font-weight: normal;
    text-align: center;
    padding-bottom: .3rem;
    padding-top: -.2rem;
}

.cancel {
    font-size: 14px;
    letter-spacing: -0.32px;
    line-height: 16px;
    padding-top: .3rem;
    color: $cancelblue;
}

.tab-item-title {
    padding-top: 1rem;
    padding-bottom: 1.3rem;
    padding-left: 2rem;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.41px;
    line-height: 24px;
}