@import '../../assets/styles/variables';

.utilities {

    .utilities-container {
        width: 981px;
        background-color: white;
        margin-right: 3rem;
        padding-bottom: 2rem;
    }
    
    .utilities-form {
        min-height: 450px;
        padding: 0 1.5rem;

        .col {
            padding: 0 3rem;
        }
    }

    .utility {
        padding: 0 1.5rem;
        margin-bottom: .5rem;
        width: 50%;

        @include media-breakpoint-down(lg) {
            width: 90%
        }
    }
}